<div class="bg-light dark:bg-darkmode-light rounded-2xl p-8 text-center">
  {{ $image:= .Params.image }}
  {{ if $image }}
  <img src="{{ $image }}" class="mx-auto mb-6 rounded-2xl w-[230px] h-[230px]" loading="lazy" />
  {{ else if .Params.Email }}
    <img
      class="mx-auto mb-6 rounded-2xl"
      alt="{{ .Title }}"
      height="120"
      width="120"
      src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon" />
  {{ end }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h4>
  <p class="mb-4">
    {{ .Description | plainify }}
    <br>
    {{ .Params.Section }}
  </p>
  <ul class="social-icons">
    {{ range .Params.social }}
      <li>
        <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
          <span class="sr-only">{{ .title }}</span>
          <i class="{{ .icon }}"></i>
        </a>
      </li>
    {{ end }}
  </ul>
</div>
