<footer class="bg-light dark:bg-darkmode-light">
  <div class="container">
    <div class="row items-center py-10 flex flex-wrap">
      <div class="flex-1 min-w-0 mb-8 text-center lg:mb-0 lg:text-left">
        <!-- navbar brand/logo -->
        <a
          class="navbar-brand inline-block"
          href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>
      {{/*  <div class="lg:col-6 mb-8 text-center lg:mb-0">
        <ul>
          {{ range site.Menus.footer }}
            <li class="m-3 inline-block">
              <a
                {{ if findRE `^http` .URL }}
                  target="_blank" rel="noopener"
                {{ end }}
                href="{{ if findRE `^#` .URL }}
                  {{ if not $.IsHome }}
                    {{ site.Home.RelPermalink }}
                  {{ end }}{{ .URL }}
                {{ else }}
                  {{ .URL | relLangURL }}
                {{ end }}"
                >{{ .Name }}</a
              >
            </li>
          {{ end }}
        </ul>
      </div>  */}}
      {{/*  SOCIAL ICONS  */}}
      <div class="flex-1 min-w-0 mb-8 flex items-center justify-center lg:mb-0 ">
        <ul class="social-icons flex justify-center w-full">
          {{ range site.Data.social.main }}
            <li>
              <a
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
      {{/*  UND WORDMARK  */}}
      <div class="flex-1 min-w-0 mb-8 flex items-center justify-end lg:mb-0">
        <a href="https://nd.edu" target="_blank" rel="noopener" class="footer-image-link">
        <img src="/images/und-wordmark.png" alt="University of Notre Dame" style="max-width:180px; width:100%;" />
        </a>
      </div>
    </div>
  </div>

  <!-- New row with centered text below the three columns -->
  <div class="row">
    <div class="col-12 text-center py-4">
      <p class="footer-extra-text">© 2025 | Coyle Hall - University of Notre Dame</p>
    </div>
  </div>
</footer>
