<footer class="bg-light dark:bg-darkmode-light">
  <div class="container">
    <div class="flex flex-col md:grid md:grid-cols-3 md:items-center py-2 gap-6 md:gap-4">
      {{/*  COYLE LOGO  */}}
      <div class="flex items-center text-center md:text-left md:justify-self-start">
        <a
          class="navbar-brand inline-block w-full md:w-auto py-0"
          href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>
      {{/*  SOCIAL ICONS  */}}
      <div class="flex items-center justify-center md:col-start-2 md:justify-self-center md:w-full">
        <ul class="social-icons flex items-center justify-center space-x-3 lg:space-x-4">
          {{ range site.Data.social.main }}
          <li>
            <a
              class="flex items-center justify-center gap-2 px-1 py-3 text-dark hover:text-primary dark:text-white dark:hover:text-primary whitespace-nowrap rounded-2xl transition-colors duration-200"
              href="{{ .link | safeURL }}"
              {{ if hasPrefix .link `http` }}target="_blank" rel="noopener noreferrer nofollow"{{ end }}
              aria-label="{{ .name }}"
            >
              <i class="{{ .icon }}"></i>
              <span class="hidden">{{ .text }}</span>
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      {{/*  UND WORDMARK  */}}
      <div class="flex items-center justify-center md:justify-self-end">
        <a href="https://nd.edu" target="_blank" rel="noopener" class="footer-image-link">
          <img src="https://static.nd.edu/images/marks/white/ndmark.svg" alt="University of Notre Dame" style="max-width:180px; width:100%;" />
        </a>
      </div>  <!-- New row with centered text below the three columns -->
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mb-2">
      <p class="footer-extra-text">© 2025 | <a href="https://residentiallife.nd.edu/undergraduate/halls/coyle-community-in-zahm-hall/" target="_blank" rel="noopener">Coyle Hall - University of Notre Dame </a></p>
    </div>
  </div>
</footer>
