/* ROOT COLORS */
:root {
  --nd-green: #0a843d;
  --nd-blue: #0c2340;
  --nd-gold: #ae9142;
}

.social-icons a {
  border-radius: 10px; 
}

.social-icons i {
  font-size: 1.5rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 15px;
    padding-bottom: 0px;
    position: sticky;
    background-color: var(--nd-green);
    z-index: 1;
}

/* Incoming Students Button*/
.header .navbar a[href="/incoming-students"] {
  background: var(--nd-gold);
  border-radius: 12px;
}

.header .navbar a[href="/incoming-students"]:hover {
  background: var(--nd-blue) !important;
  color: var(--nd-gold) !important;
}

/* Navbar Styles */
.header .navbar-brand,
.header .navbar .nav-link,
.social-icons a,
.header .navbar [aria-label="search"],
label[for="nav-toggle"]{
  color: #fff !important;
  /* fill: #fff !important; */
}

.header .navbar [aria-label="search"] {
  border-right: 1.5px solid #fff !important;
}

.header .navbar {
  margin-bottom: .6rem; 
}


.gold-bar {
  position: sticky;
  top: 60px; /* header height */
  height: 10px;
  background-color: #ae9142;
  width: 100%;
  z-index: 29;
}

.blue-bar {
  position: sticky;
  top: 70px; /* header height + gold bar height */
  height: 10px;
  background-color: #0c2340;
  width: 100%;
  z-index: 28;
}

.nav-dropdown-list {
  z-index: 101 ; 
  position: absolute; 
  border-radius: 0.75rem; 
  min-width: 230px;
}

footer {
    background-color: #0c2340;
    color: #fff;
}

.btn, .social-icons a{
  transition: transform 0.15s ease-in-out;
}

.btn:hover, .social-icons a:hover {
  transform: scale(1.15);
}

.banner img {
  width: 150%;
  height: auto;
}

/* Countdown */

.stats-number {
  font-size: 6rem !important;
  font-weight: bold !important;
  color: var(--nd-gold) !important; /* Gold color */
  line-height: 1.1 !important;
  margin-bottom: 0.15em !important;
}

.stats-description {
  font-size: 1.3rem !important;
  margin-bottom: 0.2em !important;
    color: var(--nd-green) !important;
}


.countdown-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.countdown-extra-text {
  font-size: 1.25rem;
  color: #555;
  font-style: italic;
  margin-bottom: 1em;
}

.footer-extra-text {
  color: #AAAAAA !important;
}

@media (min-width: 768px) {
  .row.text-center > .col-6.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.nav-link {
  height: auto !important;
  line-height: normal !important;
}

html, body {
  overflow-x: hidden;
}


/* History Fade */

.fade-in-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  will-change: opacity, transform;
}

.fade-in-section.visible {
  opacity: 1;
  transform: none;
}