{{- $files := readDir "static/images/regatta" -}}
{{- range $index, $file := sort $files "Name" -}}
  {{- if not $file.IsDir -}}
    {{- $name := $file.Name -}}
    {{- $ext := lower (path.Ext $name) -}}
    {{- if in (slice ".jpg" ".jpeg" ".png" ".webp" ".gif" ".avif") $ext -}}
<figure class="regatta-carousel-slide">
  <img
    src="{{ printf "/images/regatta/%s" $name }}"
    alt="{{ printf "Regatta photo %d" (add $index 1) }}"
    loading="{{ if eq $index 0 }}eager{{ else }}lazy{{ end }}"
    {{ if eq $index 0 }}fetchpriority="high"{{ end }}
    decoding="async">
</figure>
    {{- end -}}
  {{- end -}}
{{- end -}}
